<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text and Image</title>
  <link rel="Favicon icon" type="image/png" href="{% static 'home/assets/img/Favicon.png' %}">
  <link rel="stylesheet" href="{% static 'main/style1.css' %}">
</head>
<body>
  <div class="container">
    <div class="image-container">
      <div class="image-preview">
        <img id="previewImage" src="" alt="Preview Image">
        <label for="imageUpload" class="custom-button">Upload Reference</label>
        <input type="file" id="imageUpload" accept="image/*" style="display: none;">
      </div>
      <div class="text-container">
        <div class="input-group">
          <textarea id="personText" rows="4" placeholder="Prompt for Person"></textarea>
        </div>
        <div class="input-group">
          <textarea id="backgroundText" rows="4" placeholder="Prompt for Background"></textarea>
        </div>
        <div class="button-container">
            <button id="submitButton" class="custom-button" cen>Submit</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'main/script1.js' %}"></script>
</body>
</html>